@-webkit-keyframes gradient_transition {
    0% {
        top: 0;
        left: 0;
    }
    50% {
        top: -200%;
        left: -200%;
    }
    100% {
        top: 0;
        left: 0;
    }
}
@-moz-keyframes gradient_transition {
    0% {
        top: 0;
        left: 0;
    }
    50% {
        top: -200%;
        left: -200%;
    }
    100% {
        top: 0;
        left: 0;
    }
}
@-o-keyframes gradient_transition {
    0% {
        top: 0;
        left: 0;
    }
    50% {
        top: -200%;
        left: -200%;
    }
    100% {
        top: 0;
        left: 0;
    }
}
@keyframes gradient_transition {
    0% {
        top: 0;
        left: 0;
    }
    50% {
        top: -200%;
        left: -200%;
    }
    100% {
        top: 0;
        left: 0;
    }
}
body {
    color: white;
    /*font-family: "Roboto";*/
    /*font-weight: lighter;*/
    background-image: url("../img/bg.png");
}
body::before, body::after {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
body::before {
    content: "";
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
body::after {
    content: "";
    width: 400%;
    height: 400%;
    opacity: 0.8;
    background: -moz-linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background: -webkit-linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    -webkit-animation: gradient_transition 15s ease infinite;
    -moz-animation: gradient_transition 15s ease infinite;
    -o-animation: gradient_transition 15s ease infinite;
    animation: gradient_transition 15s ease infinite;
}
