@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
}

/*ID*/
#logo {
    width: 600px;
    height: auto;
}

.logo-md {
    max-width: 400px;
    height: auto;
}

.logo-sm {
    max-width: 300px;
    height: auto;
}

.logo-xs {
    max-width: 200px;
    height: auto;
}

/* Game */
.game {
    background:rgba(128, 128, 128, 0.0);
    box-shadow: none;
    border: none;
}

.game img {
    border-radius: 50%;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 2px;
    height: 200px;
    width: 200px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.game img.large {
    border-radius: 50%;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 2px;
    height: 400px;
    width: 400px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.game img.large-clean {
    border-radius: 0%;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 2px;
    height: 400px;
    width: 400px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.gold {
    color: rgba(242,215,50,1);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
}

.silver {
    color: #F0F0F0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
}

.bronze {
    color: rgba(223,182,103,1);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
}

#qualifiers-page {
    font-size: 1em;
    font-family: 'Press Start 2P', cursive;
    font-variant-ligatures: none;
    color: white;
}

.top-8 {
    font-size: 2.8em;
    font-weight: bolder;
}

.bottom-scores {
    font-size: 1.6em;
    font-weight: lighter;
}

.title {
    font-size: 3em;
    font-weight: bolder;
}

.finals {
    font-family: 'Press Start 2P', cursive;
    font-variant-ligatures: none;
}

.finals td{
    font-size: 1.8em;
    font-weight: lighter;
}

.finals th{
    font-size: 1.2em;
    font-weight: bolder;
}

.finals th.place{
    font-size: 1.8em;
    font-weight: bolder;
}

.score span.score-container {
    position: relative;
    display: inline-block;
}

.score span.score-container::before,
.score span.score-container::after {
    content: "";
    display: block;
    width: 46px;
    height: 58px;
    background-image: url('./../img/sf_ship.png'); /* Replace 'image.png' with the actual path to your image */
    background-size: cover;
    position: absolute;
    top: 6px;
}

.score span.score-container::before {
    left: -58px; /* Adjust the value to position the image before the .score element */
}

.score span.score-container::after {
    right: -58px; /* Adjust the value to position the image after the .score element */
}

.bottom-scores .score span.score-container::before,
.bottom-scores .score span.score-container::after {
    width: 26px;
    height: 32px;
    position: absolute;
    top: 2px;
}

.bottom-scores .score span.score-container::before {
    left: -32px; /* Adjust the value to position the image before the .score element */
}

.bottom-scores .score span.score-container::after {
    right: -32px; /* Adjust the value to position the image after the .score element */
}

