body {
    font-size: 100%;
}

.ul--reset {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.vertical-menu {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    width: 220px;
}

.vertical-menu-wrapper {
    max-width: 230px;
    display: flex;
    position: absolute;
    right: 10px;
    top: 20px;
    z-index: 1000;
}

.active-marker {
    transition: transform 0.4s;
    width: 5px;
    background-image: linear-gradient(90deg, #ff5e5e, #f54985);
    background-size: 100%;
    height: 30px;
    margin-left: 7px;
    transform: translateY(82px);
}

.vertical-menu-item {
    font-size: 1.1em;
    color: #fff;
    transition: all 0.4s;
    height: 41px;
    text-align: right;
}
.vertical-menu-item.is-active {
    font-size: 1.4em;
}

.link--inverse-menu {
    color: #fff;
    text-decoration: none;
}
.link--inverse-menu:visited {
    color: #fff;
}
.link--inverse-menu:hover, .link--inverse-menu:active {
    color: #d3d3d3;
    text-decoration: none;
}
